/* Empty. Add your own CSS if you like */
#home_logo{
	width: 450px;
	height: 219px;
	background: url(../img/home_logo.png);
	background-repeat: no-repeat;
	background-size: 450px;
	margin-left: auto;
	margin-right: auto;
}

#home_logo_small{
	width: 134px;
	height: 65px;
	background: url(../img/home_logo2.png);
	background-repeat: no-repeat;
	background-size: 134px;
	position: absolute;
	top: -321px;
	left: 560px;
}

#facebook_btn{
	width: 250px;
	height: 48px;
	background: url(../img/login_facebook.png);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#home_user_box{
	width: 490px;
	height: 150px;
	border-radius: 11px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
}

ul{
	width: 280px;
	height: 77px;
	margin-left: auto;
	margin-right: auto;
}

li{
	float: left;
	color: #535780;
	list-style-type: none;
	margin-top: 20px;
	margin-left: 10px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
}

li img{
	border-radius: 5px;
}

.home_btn{
	border: solid;
	border-width: 1px;
	width: 230px;
	height: 45px;
	border-radius: 5px;
	background-color: #40ADF0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 45px;
	margin-left: 38px;
	margin-bottom: 8px;
	cursor: pointer;
}

.home_btn:hover{
	background-color: #FA8008;
}

#home_big_box{
	width: 950px;
	height: 560px;
	background-color: #FFFFFF;
	opacity: 0.7;
	position: absolute;
	top: -246px;
	left: 150px;
	border-radius: 10px;
}

#home_user_box{
	width: 320px;
	height: 320px;
	background: url(../img/home_logo.png);
	background-size: 100%;
	overflow: hidden;
	position: absolute;
	top: -246px;
	left: 150px;
	border-radius: 10px 0px 0px 0px;
	opacity: 0.3;
}

#home_user_bar{
	width: 320px;
	height: 240px;
	background-color: #FFFFFF;
	background-size: 100%;
	overflow: hidden;
	position: absolute;
	top: 74px;
	left: 150px;
	border-radius: 0px 0px 0px 10px;
	border-top: solid;
	border-color: #7798D3;
	border-width: 41px;
	opacity: 0.7;
}

#home_user_box_back{
	width: 320px;
	height: 320px;
	background-color: #000000;
	overflow: hidden;
	position: absolute;
	top: -246px;
	left: 150px;
	border-radius: 10px 0px 0px 0px;
}

#home_user_photo{
	width: 150px;
	height: 150px;
	background: url(../img/home_logo.png);
	background-size: 100%;
	position: absolute;
	top: -216px;
	left: 237px;
	border-radius: 120px;
	z-index: 1;
	border: solid;
}

#home_user_name{
	width: 320px;
	height: 20px;
	position: absolute;
	top: -46px;
	left: 150px;
	font-family: sans-serif;
	font-size: 16px;
}

#home_user_level{
	width: 110px;
	height: 9px;
	position: absolute;
	top: 30px;
	left: 210px;
	background-color: #3399FF;
	border-radius: 5px;
}

#home_user_level_back{
	width: 200px;
	height: 9px;
	position: absolute;
	top: 30px;
	left: 210px;
	background-color: #103B8A;
	border-radius: 5px;
}

#home_user_level_prev{
	width: 110px;
	height: 9px;
	position: absolute;
	top: 27px;
	left: 130px;
	font-family: sans-serif;
	font-size: 10px;
	color: #8E8E8E;
}

#home_user_level_next{
	width: 110px;
	height: 9px;
	position: absolute;
	top: 27px;
	left: 382px;
	font-family: sans-serif;
	font-size: 10px;
	color: #8E8E8E;
}

#home_user_points{
	width: 320px;
	height: 20px;
	position: absolute;
	top: -22px;
	left: 150px;
	font-family: sans-serif;
	font-size: 16px;
	color: #FA8008;
}

#home_user_badges{
	width: 320px;
	height: 28px;
	position: absolute;
	top: 83px;
	left: 210px;
	text-align: center;
}

.home_badge{
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 13px;
}

#home_user_badge01{ background: url(../img/badge01.png); }
#home_user_badge02{ background: url(../img/badge02.png); }
#home_user_badge03{ background: url(../img/badge03.png); }
#home_user_badge04{ background: url(../img/badge04.png); }
#home_user_badge05{ background: url(../img/badge05.png); }

#home_buttons{
	width: 310px;
	height: 153px;
	position: absolute;
	top: 141px;
	left: 154px;
}

#home_logout{
	display: none;
	width: 80px;
	height: 15px;
	background-color: #000000;
	position: absolute;
	top: -246px;
	left: 390px;
	font-family: sans-serif;
	font-size: 11px;
	color: #8E8E8E;
}

#contenido{
	width: 630px;
	height: 560px;
	position: absolute;
	left: 470px;
	top: -246px;
	overflow-y: scroll;
	border-radius: 0px 10px 10px 0px;
}

#form_container{
	height: 510px;
	color: #103B8A;
	font-family: sans-serif;
}

#form_container input{
	width: 492px;
	height: 35px;
	border-radius: 8px;
	border: solid;
	border-width: 1px;
	border-color: #657084;
	color: #657084;
	font-family: sans-serif;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 160px;
}

#form_container textarea{
	width: 492px;
	border-radius: 8px;
	border: solid;
	border-width: 1px;
	border-color: #657084;
	color: #657084;
	font-family: sans-serif;
	padding-left: 10px;
	margin-top: 80px;
	margin-left: -39px;
}

#form_container select{
	width: 240px;
	height: 35px;
	border-radius: 8px;
	border: solid;
	border-width: 1px;
	border-color: #657084;
	color: #657084;
	font-family: sans-serif;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 160px;
}

#id_departamento{
	position: absolute;
	top: 208px;
	left: -110px;
}

#title{
	position: absolute;
	top: 60px;
	left: -110px;
}

#id_ciudad{
	position: absolute;
	top: 208px;
	left: 142px;
}

#label_about{
	position: absolute;
	top: 57px;
	left: 40px;
}

#label_where{
	position: absolute;
	top: 199px;
	left: 40px;
}

#det_banner_map{
	width: 247px;
	height: 208px;
	border-radius: 0px 10px 10px 0px;
	margin-left: 296px;
	margin-top: 93px;
	border: solid;
	border-width: 1px;
}

#banner_streetview{
	width: 247px;
	height: 208px;
	border-radius: 10px 0px 0px 10px;
	margin-left: 53px;
	margin-top: 93px;
	border: solid;
	border-width: 1px;	
	float: left;
}

#home_next{
	margin-top: 6px;
	margin-left: 426px;
	width: 120px;
	color:#FFFFFF;
}